@import "./scss/_normalize.scss";
@import "./scss/_base.scss";
@import "./scss/_funvar.scss";
@import "./iconfont.css";

.mtr10 {
    margin-top: px2rem(10px);
}

.mtr20 {
    margin-top: px2rem(20px);
}

.mtr30 {
    margin-top: px2rem(30px);
}

.mtr40 {
    margin-top: px2rem(40px);
}

.mtr50 {
    margin-top: px2rem(50px);
}


.mbr30 {
    margin-bottom: px2rem(30px);
}

.plr20 {
    padding-left: px2rem(20px);
}

.prr20 {
    padding-right: px2rem(20px);
}

.plr30 {
    padding-left: px2rem(30px);
}

.prr30 {
    padding-right: px2rem(30px);
}

.pbr155 {
    padding-bottom: px2rem(155px);
}

.pbr40 {
    padding-bottom: px2rem(40px);
}

body {
    // background: #f60;
}

.iconfont {
    @include font-dpr(40px);
}

.container {
    width: px2rem(750px);
    margin: 0 auto;
    padding-top: px2rem(254px);
    padding-bottom: px2rem(30px);
    overflow: hidden;
    background: url("../images/body_bg.jpg") no-repeat top center;
    background-size: 100% auto;
}

.coms-field-text {
    display: inline-block;
    width: 100%;
    height: px2rem(88px);
    padding: px2rem(8px) px2rem(25px);
    background-image: none;
    border: 1px solid #ccc;
    @include font-dpr(16px);
    color: #323232;
    border-radius: 0;
    background-color: #fbfbfb;
    -webkit-appearance: none;
    &:disabled {
        background-color: #eee;
    }
}

.caption-1 {
    height: px2rem(90px);
    line-height: px2rem(65px);
    background: url("../images/caption_1.png") no-repeat top right;
    background-size: auto 100%;
    font-size: px2rem(32px);
    text-align: center;
    color: #ffffff;
    strong {
        font-size: px2rem(42px);
        display: inline-block;
        position: relative;
        vertical-align: top;
    }
}

.jd-forms-box {
    margin: 0 px2rem(30px);
    background: #f7f3fa;
    border-radius: px2rem(20px);
    padding: px2rem(20px) 0;
    .item {
        margin-bottom: px2rem(25px);
        .tit {
            color: #4f19b6;
            @include font-dpr(18px);
            line-height: px2rem(35px);
            padding-left: px2rem(30px);
            margin-bottom: px2rem(10px);
        }
        &.item-sel {
            .btn-add {
                width: px2rem(35px);
                height: px2rem(35px);
                overflow: hidden;
                background: url("../images/add_icon.png") no-repeat top center;
                background-size: 100% 100%;
                display: inline-block;
                vertical-align: top;
            }
        }
        &.item-text {
            padding: 0 px2rem(30px);
        }
        &.item-radio {
            .para-radio-list {
                padding: 0 px2rem(30px);
                @include font-dpr(16px);
                color: #323232;
                >label {
                    margin-right: px2rem(20px);
                }
            }
        }
    }
}

.ipt-submit {
    width: px2rem(570px);
    height: px2rem(88px);
    overflow: hidden;
    background: #a922e2;
    margin: px2rem(20px) auto 0;
    border-radius: px2rem(50px);
    color: #fff;
    @include font-dpr(20px);
    display: block;
    border: none;
    &:active {
        background-color: darken(#a922e2, 5%);
    }
}

.coms-field-radio {
    -webkit-appearance: none;
    width: px2rem(35px);
    height: px2rem(35px);
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: px2rem(-4px);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125);
    margin-right: px2rem(10px);
    background: #eeeeee;
    &:checked {
        border-color: #ffa73d;
        background: #ffa73d;

        &:before {
            color: #fff;
            content: "\e62d";
            font-size: px2rem(48px);
            line-height: px2rem(35px);
            left: px2rem(-7px);
            display: inline-block;
            position: relative;
            vertical-align: top;
            text-align: center;
        }
    }
}


.coms-field-select {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ececec;
    padding: px2rem(20px) px2rem(60px) px2rem(20px) px2rem(10px);
    width: 100%;
    color: #323232;
    @include font-dpr(16px);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff url(../images/coms_field_select_arrow.png) no-repeat 100% center;
    @extend %text-overflow;
}

.para-list {
    display: flex;
    padding: 0 px2rem(15px);
    margin-top: px2rem(10px);
    li {
        flex: 1;
        padding: 0 px2rem(15px);
    }
}



/**
 * 表单验证样式
 */

.field-invalid {
    border-color: #a94442;
}

.field-invalidmsg {
    color: #a94442;
}

.field-validmsg {
    color: #3c763d;
}

.field-tooltipWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999999999;
}

.field-tooltipInner {
    pointer-events: none;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.field-tooltip {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.field-tooltip .field-invalidmsg,
.field-tooltip .field-validmsg {
    color: #fff;
}

.field-tooltip .zvalid-resultformat {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: px2rem(30px) px2rem(50px);
    @include font-dpr(18px);
    border-radius: px2rem(20px);
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    pointer-events: auto;
    animation-name: fieldTipBounceIn;
    -webkit-animation-name: fieldTipBounceIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .18s;
    animation-duration: .18s;
}



.bm-dia-box1{
    background-color:rgba(0,0,0,0.8);
    border-radius: px2rem(20px);
    width: px2rem(600px);
    .tip-pic {
        width: px2rem(133px);
        height: px2rem(133px);
        overflow: hidden;
        background: url("../images/dia_success_tip.png") no-repeat top center;
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .txt-1 {
        text-align: center;
        @include font-dpr(20px);
        color: #333333;
        margin-top: px2rem(50px);
    }
    .txt-2 {
        text-align: center;
        @include font-dpr(16px);
        color: #666666;
        margin-top: px2rem(20px);
    }
    .close {
        width: px2rem(380px);
        height: px2rem(88px);
        line-height: px2rem(88px);
        overflow: hidden;
        background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#A622E3), to(#D922BA), color-stop(0.5, #D922BA));
        border-radius: px2rem(50px);
        display: block;
        margin: px2rem(30px) auto 0;
        text-align: center;
        @include font-dpr(20px);
        color: #fff;
    }
}

.bm-dia-box2{
    background-color:rgba(0,0,0,0.8);
    border-radius: px2rem(20px);
    width:px2rem(400px);
    height: px2rem(600px); 
    .tip-pic {
        width: px2rem(133px);
        height: px2rem(133px);
        overflow: hidden;
        background: url("../images/dia_success_tip.png") no-repeat top center;
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .txt-1 {
        text-align: center;
        @include font-dpr(20px);
        color: #333333;
        margin-top: px2rem(50px);
    }
    .txt-2 {
        text-align: center;
        @include font-dpr(16px);
        color: #666666;
        margin-top: px2rem(20px);
    }
    .close {
        width: px2rem(380px);
        height: px2rem(88px);
        line-height: px2rem(88px);
        overflow: hidden;
        background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#A622E3), to(#D922BA), color-stop(0.5, #D922BA));
        border-radius: px2rem(50px);
        display: block;
        margin: px2rem(30px) auto 0;
        text-align: center;
        @include font-dpr(20px);
        color: #fff;
    }
}



.classFixed {
    position: fixed;
    top: 10%;
    left: 30%;
}

.txt11{
    font-size:px2rem(40px);
}
.box1 {
    background: #fff;
    width: 400px;
    height: px2rem(600px);
    padding: px2rem(15px);
    border: px2rem(10px) solid #000;
    box-sizing: border-box;
    margin: 30px;
}














/**
 * 
 */

@keyframes mDialogFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mDialogFadeIn{
    animation-name: mDialogZoomIn;
    animation-timing-function:ease-out; 
}
@keyframes mDialogFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.mDialogFadeOut{
    animation-name: mDialogFadeOut;
    animation-timing-function:ease-out;
}

@keyframes mDialogZoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.mDialogZoomIn{
    animation-name: mDialogZoomIn;
    animation-timing-function:ease-out;
}

@keyframes mDialogZoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 0;
    }
}

.mDialogZoomOut{
    animation-name: mDialogZoomOut;
    animation-timing-function:ease-out;
}

/**************************************************************************
 * 加载层  start
 */

@-webkit-keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.mDialog-loading-section {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius:px2rem(15px);
    padding:px2rem(30px) px2rem(60px);
    overflow:hidden;
    .loading-txt{
        font-size:px2rem(32px);
        color:#fff;
        text-align:center;
        margin-top:px2rem(20px);
    }
    .loading-icon {
        position: relative;
        width:px2rem(124px);
        height: px2rem(124px);
        margin:0 auto;
        >div {
            background-color: #fff;
            border-radius: px2rem(4px);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            position: absolute;
            width: px2rem(8px);
            height: px2rem(36px);
            margin-left: px2rem(-4px);
            &:nth-child(1) {
                top:px2rem(88px);
                left:50%;
                
                -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            }
            &:nth-child(2) {
                top:px2rem(80.38px);
                left:px2rem(80.38px);
                
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                transform-origin:top center;
                -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            }
            &:nth-child(3) {
                top:px2rem(64px);
                left:px2rem(88px);
                
                transform-origin:top center; 
                transform: rotate(-90deg);
                -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            }
            &:nth-child(4) {
                top:px2rem(43.62px);
                left:px2rem(88px);
               
                transform: rotate(-135deg);
                
                transform-origin:top center; 
                -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            }
            &:nth-child(5) {
                top: 0px;
                 left:50%;
               
                -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            }
            &:nth-child(6) {
                top:px2rem(43.62px);
                left:px2rem(43.62px);
                transform-origin:top center; 
                transform: rotate(135deg);
                
                -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            }
            &:nth-child(7) {
                top:px2rem(62px);
                left:px2rem(36px);
               margin-left: px2rem(-4px);
                transform: rotate(90deg);
                transform-origin:top center; 
                -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            }
            &:nth-child(8) {
                top:px2rem(80.38px);
                left:px2rem(43.62px);
                margin-left: px2rem(-4px);
                transform: rotate(45deg);
                transform-origin:top center; 
                -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
                animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            }
        }
    }
    &.loading-notext{
        padding:px2rem(60px);
    }
}



/**
 * 加载层  end
**************************************************************************/

@keyframes mDialogBigIn {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
        transform: translate(-50%, -50%) scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1, 1);
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes mDialogBigOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.8, 0.8);
    }
}


.mDialog-shade {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    &.in {
        animation-name: mDialogFadeIn;
    }
    &.out {
        animation-name: mDialogFadeOut;
    }
}

.mDialog-layer-container{
    visibility: hidden;
    position: fixed;

}


/**
 * 垂直水平居中
 */
.mDialog-cc{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

.mDialog-tc{
    left: 50%;
    top:px2rem(50px);
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}


.mDialog-bc{
    left: 50%;
    bottom:px2rem(20px);
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}