@import "./scss/_normalize.scss";
@import "./scss/_base.scss";
@import "./scss/_funvar.scss";
@import "./iconfont.css";

.mtr10{
    margin-top:px2rem(10px);
}
.mtr20{
    margin-top:px2rem(20px);
}
.mtr30{
    margin-top:px2rem(30px);
}
.mtr40{
    margin-top:px2rem(40px);
}
.mtr50{
    margin-top:px2rem(50px);
}


.mbr30{
    margin-bottom:px2rem(30px);
}

.plr20{
    padding-left:px2rem(20px);
}
.prr20{
    padding-right:px2rem(20px);
}

.plr30{
    padding-left:px2rem(30px);
}
.prr30{
    padding-right:px2rem(30px);
}
.pbr155{
    padding-bottom:px2rem(155px); 
}
.pbr40{
    padding-bottom:px2rem(40px); 
}
body{
    background: #3b0c9a;
}
.iconfont {
    @include font-dpr(40px);
}
.container{
    width:px2rem(750px);
    margin:0 auto;
    padding-top:px2rem(254px); 
    padding-bottom:px2rem(30px);
    overflow:hidden;
    background:url("../images/body_bg.jpg") no-repeat top center;
    background-size: 100% auto;
}
.coms-field-text{
    display: inline-block;
    width: 100%;
    height:px2rem(88px);
    padding:px2rem(8px) px2rem(25px);
    background-image: none;
    border: 1px solid #ccc;
    @include font-dpr(16px);
    color:#323232;
    border-radius:0;
    background-color:#fbfbfb;
    -webkit-appearance:none;
    &:disabled{
        background-color:#eee;
    }
    
}
.caption-1{
    height:px2rem(90px);
    line-height:px2rem(65px); 
    background:url("../images/caption_1.png") no-repeat top right;
    background-size:auto 100%;
    font-size:px2rem(32px);
    text-align: center;
    color:#ffffff;
    strong{
        font-size:px2rem(42px);
        display: inline-block;
        position:relative;
       vertical-align: top;
    }
}

.jd-forms-box{
    margin:0 px2rem(30px);
    background:#f7f3fa;
    border-radius:px2rem(20px);
    padding:px2rem(20px) 0;
    .item{
        margin-bottom:px2rem(25px);
        .tit{
            color:#4f19b6;
            @include font-dpr(18px);
            line-height:px2rem(35px);
            padding-left:px2rem(30px);
            margin-bottom:px2rem(10px);
        }
        &.item-sel{
            .btn-add{
                width:px2rem(35px);
                height:px2rem(35px);
                overflow:hidden;
                background:url("../images/add_icon.png") no-repeat top center;
                background-size: 100% 100%;
                display:inline-block;
                vertical-align:top;
            }
        }
        &.item-text{
            padding:0 px2rem(30px);
        }
        &.item-radio{
            .para-radio-list{
                padding:0 px2rem(30px);
                 @include font-dpr(16px);
                 color:#323232;
                 >label{
                    margin-right:px2rem(20px);
                 }
            }
            
        }
    }

}

.ipt-submit{
    width:px2rem(570px);
    height:px2rem(88px);
    overflow:hidden;
    background:#a922e2;
    margin:px2rem(20px) auto 0;
    border-radius: px2rem(50px);
    color:#fff;
    @include font-dpr(20px);
    display:block;
    border:none;
    &:active{
        background-color:darken(#a922e2,5%);
    }
}

.coms-field-radio {
    -webkit-appearance: none;
    width: px2rem(35px);
    height: px2rem(35px);
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: px2rem(-4px);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125);
    margin-right: px2rem(10px);
    background:#eeeeee;
    &:checked {
        border-color: #ffa73d;
        background: #ffa73d;

        &:before {
            color: #fff;
            content: "\e62d";
            font-size: px2rem(48px);
            line-height: px2rem(35px);
            left: px2rem(-7px);
            display: inline-block;
            position: relative;
            vertical-align: top;
            text-align:center;

           

        }
    }
}


.coms-field-select{
    -webkit-appearance: none !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border:1px solid #ececec;
    padding:px2rem(20px) px2rem(60px) px2rem(20px) px2rem(10px);
    width: 100%;
    color: #323232;
    @include font-dpr(16px);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff url(../images/coms_field_select_arrow.png) no-repeat 100% center;
    @extend %text-overflow;
}

.para-list{
    display:flex;
    padding:0  px2rem(15px);
    margin-top:px2rem(10px);
    li{
        flex:1;
        padding:0 px2rem(15px);
    }
}


/**
 * 表单验证样式
 */

.field-invalid {
    border-color: #a94442;
}

.field-invalidmsg {
    color: #a94442;
}

.field-validmsg {
    color: #3c763d;
}

.field-tooltipWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999999999;
}

.field-tooltipInner {
    pointer-events: none;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.field-tooltip {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.field-tooltip .field-invalidmsg,
.field-tooltip .field-validmsg {
    color: #fff;
}

.field-tooltip .zvalid-resultformat {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: px2rem(30px) px2rem(50px);
    @include font-dpr(18px);
    border-radius: px2rem(20px);
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    pointer-events: auto;
    animation-name: fieldTipBounceIn;
    -webkit-animation-name: fieldTipBounceIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .18s;
    animation-duration: .18s;
}

@-webkit-keyframes fieldTipBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.coms-dialog-shadow{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8); 
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-duration: .25s;
    animation-timing-function:ease-out;
    &.in{
        animation-name:fadeIn;
    }
    &.out{
        animation-name:fadeOut;
    }
}
.bm-dia-box{
    position:fixed;
    visibility:hidden;
    opacity: 0;
    top:30%;
    padding:px2rem(40px) 0;
    z-index: 9999;
    width:px2rem(520px);
    left:50%;
    margin-left: px2rem(-260px);
    transition:all 0.20s ease-out;
    transform: scale3d(.3, .3, .3);
    background:#fff;
    border-radius:px2rem(20px);
    &.dia-in{
        visibility:visible;
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    .tip-pic{
        width:px2rem(133px);
        height:px2rem(133px);
        overflow:hidden;
        background:url("../images/dia_success_tip.png") no-repeat top center;
        background-size:100% 100%;
        margin:0 auto;
    }
    .txt-1{
        text-align:center;
        @include font-dpr(20px);
        color:#333333;
        margin-top:px2rem(50px);
    }
    .txt-2{
        text-align:center;
        @include font-dpr(16px);
        color:#666666;
        margin-top:px2rem(20px);
    }
    .close{
        width:px2rem(380px);
        height:px2rem(88px);
        line-height:px2rem(88px);
        overflow:hidden;
        background-image:-webkit-gradient(linear,0% 0%, 100% 100%, from(#A622E3), to(#D922BA), color-stop(0.5,#D922BA));
        border-radius:px2rem(50px);
       display:block;
       margin:px2rem(30px) auto 0;
       text-align:center;
       @include font-dpr(20px);
       color:#fff;
    }
}








